.btn {
    display: flex;
    justify-content: center;
    height: 55px;
    width: 320px;
    border-style: solid;
    margin-top: 15px;
    background-color: chocolate;
    color: white;
    font-size: medium;
}